doctype html 
html 
    head 
        title New article
    style 
    body 
        h1 New article 
        form(method="POST" action="/articles")
            input(type="text" name="title")
            input(type="text" name="content")
            button(type="submit") Create
        a(href="/") Main